* {
        box-sizing: border-box;
}

body {
        margin: 0;
        padding: 0;
        font-family: "Red Hat Display", sans-serif;
        height: 100vh;
        text-align: center;
}

:root {
        --hoverblue: #71C0D4;
        --cyan300: #8FE3F9;
        --cyan600: #4D96A9;
        --hoverpurple: #B18BDD;
        --purple300: #D9B8FF;
        --purple600: #855FB1;
        --slate300: #D1D1DF;
        --slate600: #87879D;
        --slate900: #28283D;
        --white: #FAFAFA;
}


/* ===============
       TYPOGRAPHY
=================*/
h1 {
        color: var(--slate900);
        font-size: 2.5rem;
        font-weight: 900;
        line-height: 1;
        margin: .25em 0;
}

.description {
        color: var(--slate600);
        font-size: 1rem;
}

.transition-art{
        border: 1px solid var(--slate300);
        border-radius: 50%;
        color: var(--slate600);
        font-weight: 700;
        text-align: center;
        width: 2em;
        padding: .25em;
}

.line {
        border: 1px solid var(--slate300);
        height: 5em;
}

h2 { 
        font-weight: 900;
        color: var(--slate900);
}

.main-content h2 {
        margin: .5em;
}

p {
        line-height: 1.6;
}

.bold-green {
        color: var(--cyan600);
        text-transform: uppercase;
        font-size: .75rem;
        font-weight: 900;
        letter-spacing: 4px;
        order: -1;
}

.footer-head,
.footer-description {
        color: var(--white);
        max-width: 35em;
        margin: .75em auto;
}

/*  Buttons */

.btn {
        color: var(--white);
        font-family: inherit;
        font-weight: bold;
        font-size: 1rem;
        border-radius: 1.5em;
        border: none;
        cursor: pointer;
        margin-top: .5em;
}

.btn-blue, .btn-purple {
        padding: 1em 2.8em;
}


.btn-blue {
        background: var(--cyan600);
}

.btn-purple {
        background: var(--purple600);
}

.btn-span-hero {
        color: var(--cyan300);
}

.btn-span-footer {
        color: var(--purple300);
}

.btn-whatisit {
        text-decoration: none;
        padding: 1em 2.7em;
        margin-top: 1em;
}

.btn-blue:hover,
.btn-blue:focus {
        background-color: var(--hoverblue);
}

.btn-purple:hover,
.btn-purple:focus {
        background-color: var(--hoverpurple);
}

/* ===============
                LAYOUT
=================*/

.hero-text,
.art-section,
.main-content,
.main-content-images,
footer {
        padding: 2em;
}


img {
        display: block;
        max-width: 100%;
        object-fit: cover;
}

header {
        height: 5em;
}

.logo-img {
        margin: 3em auto;
}

.hero-img {
        margin-top: -1em;
}

.hero-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 37em;
}

.main-hero {
        margin: 2em auto;
        max-width: 73em;
}

.main-content-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        max-width: 73em;
        margin: 0 auto;
}

.main-content-images * {
        border-radius: 10px;
}

.main-content {
        display: flex;
        flex-direction: column;
        max-width: 35em;
        margin: 0 auto;
}

.desktop-hero-img {
        display: none;
}

footer {
        background-image: linear-gradient(#4D96A9E6, #4D96A9E6), url(assets/tablet/image-footer.jpg);
        background-position: center;
        background-size: cover;
        background-color: var(--cyan600);
        
}

/* ===============
       MEDIA QUERY
=================*/

@media (min-width: 32em) {
        .btn {
        
        }

        .main-content-images {
        grid-template-columns: repeat(4, 1fr);
        }
}

@media (min-width: 51em) {
        footer {
                display: flex;
                justify-content: space-around;
                align-items: center;
                align-content: flex-start;
                gap: 3em;
                padding: 5em 2em;
                text-align: left;
        }

        .btn-footer {
                display: flex;
        }

        .main-hero {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2em;
                margin: 0 auto;
        }

        .hero-img {
                display: none;
        }

        .desktop-hero-img {
                display: block;
                object-fit: cover;
                max-width: 100%;
                flex: 1 1 30em;
                min-width: 21em;
                
        }

        .desktop-hero-img-left {
                align-self: center;
        }

        .desktop-hero-img-right {
                align-self: end;
        }

        .hero-text {
                flex: 1 1 28em;
        }

}

/*   To Do
-Get hero left/right images to disp;lay properly without shrinking too much
-Make sure I like where and how the footer text is flipping horizontal
-make sure my img grid is working well at all sizes
-finish the lines coming off 01 and 02
-make sure all spacing looks good on the number rows
-make sure all spacing looks good
-look over my code to look for DRY improvments or any issues/errors*/